<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
</head>

<body>

	<main>

		<h1>ログイン</h1>

		<div th:if="${param.error}">
			<p style="color: red;">ユーザー名またはパスワードが違います</p>
		</div>

		<form th:action="@{/user/authentication}" method="post" 　th:object="${userLoginForm}">
			メールアドレス：<br>
			<input type="text" th:field="*{email}">
			<br>
			パスワード：<br>
			<input type="text" th:field="*{password}">
			<br>
			<button>ログイン</button>
		</form>
		
		<a href="/add/account">新規登録はこちら</a>

	</main>

</body>

</html>