<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規会員登録</title>
</head>

<body>

	<main>
		<h1>新規会員登録</h1>

		<form th:action="@{/add/account/confirm}" method="post" th:object="${userAddForm}"  class="form-table h-adr">
			<input type="hidden" class="p-country-name" value="Japan">
			<table border="1">
				<tr>
					<th>名前</th>
					<td>
						<input type="text" th:filde="*{name}">
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>
						<select th:filde="*{prefectureId}">
							<option value="0">男性</option>
							<option value="1">女性</option>
							<option value="2">その他</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td>
						<input type="number" th:filde="*{postCode}" class="p-postal-code" maxlength="8">
						<div th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></div>
					</td>
				</tr>
				<tr>
					<th>都道府県</th>
					<td>
						<select th:filde="*{prefectureId}" class="p-region-id">
							<option 
							th:each="prefecture:${prefectureList}" 
							th:text="${prefecture.name}" 
							th:value="${prefecture.id+1}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<input type="text" th:filde="*{location}" class="p-locality p-street-address p-extended-address">
						<div th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>
						<input type="number" th:filde="*{tell}">
						<div th:if="${#fields.hasErrors('tell')}" th:errors="*{tell}"></div>
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						<input type="email" th:filde="*{email}">
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="password" th:filde="*{password}">
						<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						<div th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></div>
					</td>
				</tr>
				<tr>
					<th>パスワード（再入力）</th>
					<td>
						<input type="password" th:filde="*{passwordConfirm}">
					</td>
				</tr>
			</table>
			
			<button>確認</button>
		</form>
		
		<script th:inline="javascript" src="https://yubinbango.github.io/yubinbango/yubinbango.js">
		</script>
		</main>

</body>

</html>